.search-tooltip {
    position: absolute;
    opacity: 0.90;
    height: auto;
    padding: 8px;
    background-color:  rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 100;
}

.search-tooltip.hidden {
    display: none;
}

.search-tooltip p {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', "Arial", 'sans-serif';
    font-size: 22px;
    font-weight: 450;
    line-height: 32px;
    color: black;
}